body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(249, 244, 245);
}

h2{
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h5{
  text-align: center;
  margin-top: -20px;
  font-size: 10px;
  color: palevioletred;
}

p{
  text-align: center;
  border: 1px solid red;
  margin: 20px;
}